In [2]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

import numpy as np
import datetime
import sqlite3

In [3]:
ELPAC_file_path = 'Raw_Files/ELPAC.xlsx'

#### Import files from Excel file, got from information provided to i-TAPP as it was all within one Excel spreadsheet

In [4]:
# Import ELPAC data into dataframes
elpac1718 = pd.read_excel(open(ELPAC_file_path, 'rb'), sheet_name='2017-2018', dtype=str)


# Drop identified columns
elpac1718.drop(elpac1718.columns[[0, 1, 5, 7, 8, 9, 10]], axis=1, inplace=True)

In [5]:
# Import ELPAC data into dataframes
elpac1819 = pd.read_excel(open(ELPAC_file_path, 'rb'), sheet_name='2018-2019', dtype=str)


# Drop identified columns
elpac1819.drop(elpac1819.columns[[0, 1, 5, 7, 8, 9, 10]], axis=1, inplace=True)

In [6]:
# Import ELPAC data into dataframes
elpac1920 = pd.read_excel(open(ELPAC_file_path, 'rb'), sheet_name='2019-2020', dtype=str)


# Drop identified columns
elpac1920.drop(elpac1920.columns[[0, 1, 5, 7, 8, 9, 10]], axis=1, inplace=True)

In [7]:
# Import ELPAC data into dataframes
elpac2021 = pd.read_excel(open(ELPAC_file_path, 'rb'), sheet_name='2020-2021', dtype=str)


# Drop identified columns
elpac2021.drop(elpac2021.columns[[0, 1, 6, 8, 9, 10, 11]], axis=1, inplace=True)

In [8]:
# Import ELPAC data into dataframes
elpac2122 = pd.read_excel(open(ELPAC_file_path, 'rb'), sheet_name='2021-2022', dtype=str)


# Drop identified columns
elpac2122.drop(elpac2122.columns[[1, 5, 7, 8, 9, 17, 19, 21, 54, 55, 56, 57, 58, 61, 62, 63, 64, 70, 71, 72, 73, 79, 80, 81, 82, 88, 89, 90, 91, 97, 98, 99, 100]], axis=1, inplace=True)

#### Create a unique list of all SSIDs and assign them the Pandas Dataframe index number as their de-identified number

In [9]:
# Create data frame of SSIDs to de-identify
ssids = pd.DataFrame(pd.concat([elpac1718.elpac_2018_ssid, elpac1819.elpac_2019_ssid, elpac1920.elpac_2020_ssid, elpac2021.elpac_2021_ssid, elpac2122.SSID], axis=0))

# Unique SSID values
ssid_deidentify = pd.DataFrame(ssids[0].unique())

ssid_deidentify.columns = ['SSID']

# Assign Data frame index as de-identified ID
ssid_deidentify['Stu_deID'] =  ssid_deidentify.index

In [10]:
# Create local file to have as reference to Stu_deID
ssid_deidentify.to_csv('Raw_Files/ssid_deidentify.csv', encoding='utf-8', index=False)

#### Merge de-identified ID into ELPAC dataframes, then dropped the SSID field containing the real values

In [11]:
# Merge in de-identier
elpac1718 = elpac1718.merge(ssid_deidentify, how="inner", left_on='elpac_2018_ssid', right_on='SSID')

# Drop SSID columns
elpac1718.drop(elpac1718.columns[[3, 57]], axis=1, inplace=True)

In [12]:
# Merge in de-identier
elpac1819 = elpac1819.merge(ssid_deidentify, how="inner", left_on='elpac_2019_ssid', right_on='SSID')

# Drop SSID columns
elpac1819.drop(elpac1819.columns[[3, 54]], axis=1, inplace=True)

In [13]:
# Merge in de-identier
elpac1920 = elpac1920.merge(ssid_deidentify, how="inner", left_on='elpac_2020_ssid', right_on='SSID')

# Drop SSID columns
elpac1920.drop(elpac1920.columns[[3, 79]], axis=1, inplace=True)

In [14]:
# Merge in de-identier
elpac2021 = elpac2021.merge(ssid_deidentify, how="inner", left_on='elpac_2021_ssid', right_on='SSID')

# Drop SSID columns
elpac2021.drop(elpac2021.columns[[4, 120]], axis=1, inplace=True)

In [15]:
# Merge in de-identier
elpac2122 = elpac2122.merge(ssid_deidentify, how="inner", left_on='SSID', right_on='SSID')

# Drop SSID columns
elpac2122.drop(elpac2122.columns[[3]], axis=1, inplace=True)

### De-identify school and district name

#### School

In [16]:
# Unique Schoolname values - only present in the 2021-2022 file
schools_deidentify = pd.DataFrame(elpac2122.CALPADSSchoolName.unique())

schools_deidentify.columns = ['SchoolName']

# Assign Data frame index as de-identified ID
schools_deidentify['School_deID'] =  schools_deidentify.index

In [17]:
# Merge in de-identier
elpac2122 = elpac2122.merge(schools_deidentify, how="inner", left_on='CALPADSSchoolName', right_on='SchoolName')

# Drop school name columns
elpac2122.drop(elpac2122.columns[[12, 337]], axis=1, inplace=True)

In [18]:
# Create local file to have as reference to School_deID
schools_deidentify.to_csv('Raw_Files/schools_deidentify.csv', encoding='utf-8', index=False)

#### District

In [19]:
# Unique distrcit values - only present in the 2021-2022 file
district_deidentify = pd.DataFrame(elpac2122.CALPADSDistrictName.unique())

district_deidentify.columns = ['DistrictName']

# Assign Data frame index as de-identified ID
district_deidentify['District_deID'] =  district_deidentify.index

In [20]:
# Merge in de-identier
elpac2122 = elpac2122.merge(district_deidentify, how="inner", left_on='CALPADSDistrictName', right_on='DistrictName')

# Drop school name columns
elpac2122.drop(elpac2122.columns[[11, 337]], axis=1, inplace=True)

In [21]:
# Create local file to have as reference to District_deID
district_deidentify.to_csv('Raw_Files/district_deidentify.csv', encoding='utf-8', index=False)

### Add AcademicYear column to each file, to join into attendance files

In [22]:
# Add AcademicYear column
elpac1718['AcademicYear'] = '2017-2018'
elpac1819['AcademicYear'] = '2018-2019'
elpac1920['AcademicYear'] = '2019-2020'
elpac2021['AcademicYear'] = '2020-2021'
elpac2122['AcademicYear'] = '2021-2022'

### Identify features to keep from ELPAC files

In [23]:
# Subset ELPAC files
elpac1718 = elpac1718.iloc[:,[56, 57, 3, 4, 7, 10, 11]]
elpac1819 = elpac1819.iloc[:,[53, 54, 3, 4, 7, 10, 11]]
elpac1920 = elpac1920.iloc[:,[78, 79, 3, 6, 7, 8, 9]]
elpac2021 = elpac2021.iloc[:,[119, 120, 4, 5, 8, 9, 10]]
elpac2122 = elpac2122[['Stu_deID', 'AcademicYear','DateofBirth', 'CALPADSGrade', 'FinalTestCompletedDate', 'OverallScaleScore', 'OverallPL']]

# Rename columns
elpac_columns = ['Stu_deID', 'AcademicYear', 'DOB', 'GradeLevel', 'TestDate', 'OverallScore', 'OverallLevel']

elpac1718.columns = elpac_columns
elpac1819.columns = elpac_columns
elpac1920.columns = elpac_columns
elpac2021.columns = elpac_columns
elpac2122.columns = elpac_columns

In [24]:
# Data conversions - DOB to datetime
elpac1718['DOB'] = pd.to_datetime(elpac1718['DOB'])
elpac1819['DOB'] = pd.to_datetime(elpac1819['DOB'])
elpac1920['DOB'] = pd.to_datetime(elpac1920['DOB'])
elpac2021['DOB'] = pd.to_datetime(elpac2021['DOB'])
elpac2122['DOB'] = pd.to_datetime(elpac2122['DOB'])

In [25]:
# Data conversions - TestDate to datetime
elpac1718['TestDate'] = pd.to_datetime(elpac1718['TestDate'])
elpac1819['TestDate'] = pd.to_datetime(elpac1819['TestDate'])
elpac1920['TestDate'] = pd.to_datetime(elpac1920['TestDate'])
elpac2021['TestDate'] = pd.to_datetime(elpac2021['TestDate'])
elpac2122['TestDate'] = pd.to_datetime(elpac2122['TestDate'])

In [26]:
# Data conversions - GradeLevel clean up, eliminate extra zero, convert KN to 0
elpac1718['GradeLevel'] = elpac1718.GradeLevel.replace('KN', '0').astype(int)
elpac1819['GradeLevel'] = elpac1819.GradeLevel.replace('KN', '0').astype(int)
elpac1920['GradeLevel'] = elpac1920.GradeLevel.replace('KN', '0').astype(int)
elpac2021['GradeLevel'] = elpac2021.GradeLevel.replace('KN', '0').astype(int)
elpac2122['GradeLevel'] = elpac2122.GradeLevel.replace('KN', '0').astype(int)

In [27]:
elpac1718['OverallScore'] = elpac1718.OverallScore.replace('NS',0).fillna(0).astype(int)
elpac1819['OverallScore'] = elpac1819.OverallScore.replace('NS',0).fillna(0).astype(int)
elpac1920['OverallScore'] = elpac1920.OverallScore.replace('NS',0).fillna(0).astype(int)
elpac2021['OverallScore'] = elpac2021.OverallScore.replace('NS',0).fillna(0).astype(int)
elpac2122['OverallScore'] = elpac2122.OverallScore.replace('NS',0).fillna(0).astype(int)

elpac1718['OverallLevel'] = elpac1718.OverallLevel.replace('NS',0).fillna(0).astype(int)
elpac1819['OverallLevel'] = elpac1819.OverallLevel.replace('NS',0).fillna(0).astype(int)
elpac1920['OverallLevel'] = elpac1920.OverallLevel.replace('NS',0).fillna(0).astype(int)
elpac2021['OverallLevel'] = elpac2021.OverallLevel.replace('NS',0).fillna(0).astype(int)
elpac2122['OverallLevel'] = elpac2122.OverallLevel.replace('NS',0).fillna(0).astype(int)

In [28]:
# Elpac file containing all years
elpac = pd.concat([elpac1718, elpac1819, elpac1920, elpac2021, elpac2122], axis=0)

#### Feature Engineering Ideas

* Day of the week
* Grade Level + percentage of days enrolled (so for example, 4th grade would not be represented by a '4', instead, by '4.80' - a 4th grader who attended 80% of the time)
* Number of Levels a student progressed from previous ELPAC (17-18 a student who scores a Level 1, then in 18-19 scoed a Level 3; the student progressed 2 levels)
* Age of Student at time of test
* Teacher information (years teaching)
* Total in Household
* Household income
* Homeless

In [29]:
# Feature Engineering

# TestDayName
elpac['TestDayName'] = elpac.TestDate.dt.day_name()

In [30]:
# Age at time of test
elpac['TestAge'] = (elpac.TestDate - elpac.DOB) / np.timedelta64(1, 'Y')

In [31]:
elpac

      Stu_deID AcademicYear        DOB  GradeLevel   TestDate  OverallScore  OverallLevel TestDayName    TestAge
0            0    2017-2018 2011-07-04           1 2018-05-02          1503             4   Wednesday   6.828340
1            1    2017-2018 2008-07-28           4 2018-03-16          1535             3      Friday   9.631957
2            2    2017-2018 2011-08-13           1 2018-02-12          1449             3      Monday   6.502529
3            3    2017-2018 2008-05-06           4 2018-04-02          1480             2      Monday   9.905748
4            4    2017-2018 2012-04-13           0 2018-05-23          1461             4   Wednesday   6.108271
...        ...          ...        ...         ...        ...           ...           ...         ...        ...
2125      4072    2021-2022 2010-08-14           6 2022-04-14           644             2    Thursday  11.666222
2126      3010    2021-2022 2012-08-29           4 2022-05-31          1422             1     Tuesday   9.752425
2127       137    2021-2022 2012-07-06           4 2022-04-12          1530             3     Tuesday   9.766114
2128      2092    2021-2022 2012-04-27           4 2022-03-03          1538             3    Thursday   9.848252
2129      2272    2021-2022 2012-09-18           3 2022-03-16          1573             4   Wednesday   9.489586

[13092 rows x 9 columns]

### Attendance Files

In [33]:
Attendance_file_path = 'Raw_Files/'

In [34]:
# Load attendance data
att_1718 = pd.read_csv(Attendance_file_path + 'STAS_ODS_1718.txt', sep='^', dtype=str, header=None)
att_1819 = pd.read_csv(Attendance_file_path + 'STAS_ODS_1819.txt', sep='^', dtype=str, header=None)
att_1920 = pd.read_csv(Attendance_file_path + 'STAS_ODS_1920.txt', sep='^', dtype=str, header=None)
att_2021 = pd.read_csv(Attendance_file_path + 'STAS_ODS_2021.txt', sep='^', dtype=str, header=None)
att_2122 = pd.read_csv(Attendance_file_path + 'STAS_ODS_2122.txt', sep='^', dtype=str, header=None)

In [35]:
# columns to keep
att_1718 = att_1718.iloc[:,[5, 6, 14, 15]].fillna(0.00)
att_1819 = att_1819.iloc[:,[5, 6, 14, 15]].fillna(0.00)
att_1920 = att_1920.iloc[:,[5, 6, 14, 15]].fillna(0.00)
att_2021 = att_2021.iloc[:,[5, 6, 14, 15]].fillna(0.00)
att_2122 = att_2122.iloc[:,[5, 6, 14, 15]].fillna(0.00)

In [36]:
# Assign column names
att_columns = ['AcademicYear', 'SSID', 'ExpectedAttendanceDays', 'DaysAttended']

att_1718.columns = att_columns
att_1819.columns = att_columns
att_1920.columns = att_columns
att_2021.columns = att_columns
att_2122.columns = att_columns

In [37]:
# Data conversions
att_1718['ExpectedAttendanceDays'] = att_1718.ExpectedAttendanceDays.astype(float)
att_1819['ExpectedAttendanceDays'] = att_1819.ExpectedAttendanceDays.astype(float)
att_1920['ExpectedAttendanceDays'] = att_1920.ExpectedAttendanceDays.astype(float)
att_2021['ExpectedAttendanceDays'] = att_2021.ExpectedAttendanceDays.astype(float)
att_2122['ExpectedAttendanceDays'] = att_2122.ExpectedAttendanceDays.astype(float)

In [38]:
# Data conversions
att_1718['DaysAttended'] = att_1718.DaysAttended.astype(float)
att_1819['DaysAttended'] = att_1819.DaysAttended.astype(float)
att_1920['DaysAttended'] = att_1920.DaysAttended.astype(float)
att_2021['DaysAttended'] = att_2021.DaysAttended.astype(float)
att_2122['DaysAttended'] = att_2122.DaysAttended.astype(float)

In [39]:
# Att into one file
att = pd.concat([att_1718, att_1819, att_1920, att_2021, att_2122], axis =0)

### SQLite

In [40]:
cnn = sqlite3.connect('Raw_Files/db.db')

In [50]:
# Load dataframes into sql
att.to_sql("att", cnn, if_exists='replace')
ssid_deidentify.to_sql("ssid", cnn, if_exists='replace')

In [42]:
%load_ext sql

In [43]:
%sql sqlite:///Raw_Files/db.db

In [54]:
%%sql

select s.Stu_deID, AcademicYear, sum(ExpectedAttendanceDays) as ExpectedAttendanceDays, sum(DaysAttended) as DaysAttended
, sum(DaysAttended) / sum(ExpectedAttendanceDays) as AttendedPct
, sum(ExpectedAttendanceDays) / 180.0 as EnrolledPct
from att as a 
join ssid as s 
    on a.SSID = s.SSID
group by a.SSID, a.AcademicYear
limit 10

 * sqlite:///Raw_Files/db.db
Done.

[(3482, '2019-2020', 167.0, 160.0, 0.9580838323353293, 0.9277777777777778),
 (3, '2017-2018', 180.0, 175.0, 0.9722222222222222, 1.0),
 (3, '2018-2019', 180.0, 168.0, 0.9333333333333333, 1.0),
 (3, '2019-2020', 180.0, 178.0, 0.9888888888888889, 1.0),
 (4, '2017-2018', 180.0, 125.0, 0.6944444444444444, 1.0),
 (4, '2018-2019', 103.0, 90.0, 0.8737864077669902, 0.5722222222222222),
 (4529, '2021-2022', 170.0, 138.0, 0.8117647058823529, 0.9444444444444444),
 (4002, '2020-2021', 180.0, 167.0, 0.9277777777777778, 1.0),
 (4002, '2021-2022', 170.0, 139.0, 0.8176470588235294, 0.9444444444444444),
 (5, '2017-2018', 180.0, 165.0, 0.9166666666666666, 1.0)]

In [55]:
# SQL results to dataframe
att_sql = '''
select s.Stu_deID, AcademicYear, sum(ExpectedAttendanceDays) as ExpectedAttendanceDays, sum(DaysAttended) as DaysAttended
, sum(DaysAttended) / sum(ExpectedAttendanceDays) as AttendedPct
, sum(ExpectedAttendanceDays) / 180.0 as EnrolledPct
from att as a 
join ssid as s 
    on a.SSID = s.SSID
group by a.SSID, a.AcademicYear
'''

att_df = pd.read_sql_query(att_sql, cnn)

In [56]:
# Export File
att_df.to_csv('Deidentified/attendance.csv', encoding='utf-8', index=False)

In [60]:
# Merge attendance into ELPAC file
elpac = elpac.merge(att_df, how='inner', left_on=('Stu_deID', 'AcademicYear'), right_on=('Stu_deID', 'AcademicYear'))

### Export ELPAC file to CSV

In [61]:
elpac.to_csv('Deidentified/elpac.csv', encoding='utf-8', index=False)